<div class="container p-5">
  <button class="btn btn-primary" (click)="create()">Novo Aluno</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">RA</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Turma</th>
        <th scope="col">Série</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{student.id}}</th>
        <td>{{student.ra}}</td>
        <td>{{student.name | uppercase}}</td>
        <td>{{student.email | lowercase}}</td>
        <td>{{student.phoneNumber}}</td>
        <td>{{student.class}}</td>
        <td>{{student.series}}</td>
        <td>
          <button class="btn btn-primary me-1" (click)="edit(student)">Editar</button>
          <button class="btn btn-danger" (click)="delete(student)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
